# Python
__pycache__/
*.py[cod]
*$py.class
 venv/
.venv/

# Django
local_settings.py
db.sqlite3
media/
staticfiles/

# Ambientes e Segredos
.env
.vscode/
.idea/

# MySQL (Caso tenha logs locais)
*.log
*.sql